* {
    margin: 0;
    padding: 0;
}


:root {
    --headingFont: "Barrio", serif;
    --bodyFont: "Roboto Condensed", sans-serif;
}


/* Global */

html {
    scroll-behavior: smooth;
}
ul {
    margin-left: 2rem;
}
li {
    font-family: var(--bodyFont);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 1rem;
    list-style: none;
    position: relative;
}
li::before {
    content: "";
    position: absolute;
    background-color: #333;
    width: 15px;
    height: 15px;
    left: -30px;
    top: 4px;
    border-radius: 4px;
}


/* Buttons */

.global-btn {
    padding: 15px 2rem;
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: var(--bodyFont);
    text-decoration: none;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
.global-btn::before {
   