* {
    margin: 0;
    padding: 0;
}

:root {
    --headingFont: "Barrio", serif;
    --bodyFont: "Roboto Condensed", sans-serif;
}


/* Global */

html {
    scroll-behavior: smooth;
}
ul {
    margin-left: 2rem;
}
li {
    font-family: var(--bodyFont);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 1rem;
    list-style: none;
    position: relative;
}
li::before {
    content: "";
    position: absolute;
    background-color: #333;
    width: 15px;
    height: 15px;
    left: -30px;
    top: 4px;
    border-radius: 4px;
}


/* Buttons */

.global-btn {
    padding: 15px 2rem;
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: var(--bodyFont);
    text-decoration: none;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
.global-btn::before {
    content: "";
    position: absolute;
    background-color: #333;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all .22s ease-out;
}
.global-btn:hover::before {
    transform: scale(1.05);
}


/* Typography */

h2 {
    font-family: var(--headingFont);
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
    color: #333;
}
p {
    font-family: var(--bodyFont);
    color: #444444;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2;
}


/* Navigation */

nav {
    position: sticky;
    top: 0;
    z-index: 999; /* Ensures nav stays above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}
nav .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #333;
    padding: 13px 13px 7px;
    border-radius: 50%;
}
nav .logo img {
    width: 150px;
}
nav .nav-links {
    display: flex;
    gap: 20px; /* Space between links */
}
nav .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 30px;
    font-family: var(--headingFont);
    cursor: pointer;
}
nav .nav-links a:hover {
    background-color: #555;
}


/* Splash */

#splash {
    height: 450px;
    background-image: url(media/dasoma-bg.png);
    background-size: cover;
    border-bottom: 8px solid #333333;
}


/* About */

#about {
    display: flex;
    border-bottom: 8px solid #333;
}
#about .left-col {
    width: 50%;
    background-image: url(media/dasoma-avery-color.jpg);
    background-size: cover;
    background-position: center;
}
#about .right-col {
    width: 50%;
    padding: 6rem;
    border-left: 8px solid #333;
}
#about .right-col h2 span {
    font-family: var(--bodyFont);
    font-weight: 100;
    font-size: 2rem;
    font-style: italic;
}


/* Music */

#music {
    border-bottom: 8px solid #333;
    padding: 6rem;
}
#music h2 {
    text-align: center;
}
#music .links {
    display: flex;
    gap: 40px;
    justify-content: center;
}
#music .links img.logo {
    width: 80px;
    cursor: pointer;
}
#music .links a {
    cursor: pointer;
    transition: all .22s ease-out;
}
#music .links a:hover {
    transform: scale(1.05);
}
#music .embeds {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 20px 0;
}
#music .embed {
    width: 100%;
}
#music iframe {
    border: 4px solid #333;
}


/* About */

#rider {
    display: flex;
    border-bottom: 8px solid #333;
}
#rider .left-col {
    width: 50%;
    padding: 6rem;
}
#rider .left-col ul {
    margin-bottom: 2rem;
}
#rider .right-col {
    width: 50%;
    background-image: url(media/dasoma-flower.jpg);
    background-size: cover;
    border-left: 8px solid #333;
    background-position: center;
}


/* Contact */

#contact {
    padding: 6rem;
}
#contact h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}
#contact .contact-links {
    display: flex;
    gap: 40px;
    justify-content: center;
}
#contact .contact-links .link {
    text-decoration: none;
    color: #fff;
    font-family: var(--bodyFont);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    position: relative;
}
#contact .contact-links .link::before {
    content: "";
    position: absolute;
    background-color: #333;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transition: all .22s ease-out;
    z-index: -1;
}
#contact .link:hover::before {
    transform: scale(1.03);
}


/* Mobile */

@media (max-width: 768px) {

    /* Nav */

    nav {
        position: unset;
    }
    nav .nav-links {
        display: none;
    }

    /* About */

    #about {
        display: flex;
        flex-wrap: wrap;
    }
    #about .left-col {
        width: 100%;
        height: 300px;
        order: 2;
    }
    #about .right-col {
        width: 100%;
        padding: 3rem 2rem;
        border-left: none;
    }

    /* Music */

    #music {
        border-bottom: 8px solid #333;
        padding: 3rem 2rem;
    }
    #music .embeds {
        display: block;
    }


    /* Rider */

    #rider {
        display: block;
    }
    #rider .left-col {
        width: 100%;
        padding: 3rem 2rem;
    }
    #rider .right-col {
        width: 100%;
        height: 300px;
        border-left: none;
    }

    /* Contact */

    #contact {
        padding: 3rem 2rem;
    }
    #contact .contact-links {
        display: block;
    }
    #contact .contact-links .link {
        display: block;
        text-align: center;
    }
    #contact .contact-links .link:first-child {
        margin-bottom: 1.5rem;
    }
}